{% load static %} 
<div class="card-body">
    <div>
      <div>
        Search by date
        <form action={% url 'search_by_date' chart_name=pageName %} method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col">  
              {{SearchByDate.date}}
            </div>
            <div class="col">
              <button type="submit" class="btn btn-secondary">Search</button>  
            </div>
          </div>
          
        </form>
      </div>
      <div>
        Save time
      <form action="/charts/slept_hours_save" method="post">   
        {% csrf_token %}
        <div class="row g-3">
          <div class="col">
            {{timeForm.hours}}
          </div>
          <div class="col">
            {{timeForm.date}}
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
    <p>Hours slept per day</p>
      <canvas id="dailyChart"></canvas>
    </div>
  </div>
  <p>Hours slept per week</p>
  <canvas id="weekleyChart"></canvas>
</div>
<script>
  let username='{{user.username}}'
  let date='{{date}}'
</script>
<script src="{% static 'charts\slept_hours.js' %}"></script>    
  </div>