<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SignUp or Login</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <div class="card" style="width: 20rem; position: absolute;top: 300px;left: 600px;">
    <div class="card-body">
      <a class="btn btn-primary mb-3" role="button" style="width: 18rem;" href="/login_page">Login</a>
      <br>
      <a class="btn btn-primary mb-3" role="button" style="width: 18rem;" href="/signUp">SignUp</a>
    </div>
  </div>
</body>

</html>