<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
 
  <div class="card" style="width: 30rem; position: absolute;top: 200px;left: 500px;">
    <div class="card-body">
      <div class="card-header"><h1>Login</h1></div>
      <form action="/login_user" method="post">
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
        <button class="btn btn-primary mb-3" type="submit"> Login </button>
        <p>{{error}}</p>
      </form>
    </div>
  </div>
</body>

</html>