{% load static %}
<div class="card-body">

  <div>
    Search by date
    <form action={% url 'search_by_date' chart_name=pageName %} method="post">
      {% csrf_token %}
      <div class="row g-3">
        <div class="col">
          {{SearchByDate.date}}
        </div>
        <div class="col">
          <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </div>

    </form>
  </div>
  <div class="alert alert-dark" id="week" role="alert">

  </div>
  <div class="row">
    <div class="col">
      <canvas id="dailyChart"></canvas>
    </div>
    <div class="col"><canvas id="weekleyChart"></canvas></div>
  </div>
  <div class="row">
    <div id="weekTotalWork" class="col"></div>

      <div id="weekTotalSleep" class="col">

      </div>
    </div>


        
    <h6>
      <p>{{ questions.0 }}</p>
    </h6>
    <li>{{answers.0}}</li>
    <p></p>
    <h6>
      <p>{{ questions.1}}</p>
    </h6>
    <li>{{answers.1}}</li>
    <p></p>
    <h6>
      <p>{{ questions.2 }}</p>
    </h6>
    <li>{{answers.2}}</li>
    <p></p>
    <h6>
      <p>{{ questions.3 }}</p>
    </h6>
    <li>{{answers.3}}</li>
    <p></p>
    <h6>
      <p>{{ questions.4 }}</p>
    </h6>
    <li>{{answers.4}}</li>
    <p></p>
    <h6>
      <p>{{ questions.5 }}</p>
    </h6>
    {{WeeklyJurnalForm.select_call }}
    <p></p>
    <h6>
      <p>7. What was your schedule this week (screenshot from Google Calendar)?</p>
    </h6>
    <img style="width: 45rem; height: 30rem;" src="{{ calendar_image }}" alt="you did not add any image">

  



   
    <script src="{% static 'charts\journals.js' %}"></script>




  </div>